 <!DOCTYPE html>
    <html>
    <head>
        <title>a@a.com</title>
    
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="/Plugins/css/notie.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/Plugins/css/dataTables.fontAwesome.css">
    
        <link rel="stylesheet" href="/stylesheets/CustomDatatable.css">
        <link rel="stylesheet" href="/stylesheets/datatable.css">
    
        <link rel="stylesheet" href="/Plugins/css/trumbowyg.css">

        <link rel="stylesheet" href="/Plugins/bootstrap/css/bootstrap.min.css">
        <script src="/Plugins/js/jquery.min.js"></script>
        <script src="/Plugins/bootstrap/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" href="/Plugins/css/select2BootstrapTheme.css">
        <link rel="stylesheet" href="/Plugins/css/select2.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/sidenav.css' />
        <link rel='stylesheet' href='/stylesheets/CommunityStyle.css' />
        <link rel='stylesheet' href='/stylesheets/CrazyGraphics.css' />
        <!-- <script src="/javascripts/helper/validation.js"></script> -->



      <style type="text/css">
          header{
              height: 80px;
              background-color: white;
              padding: 10px
          }
          @media(max-width: 800px){
              .mobile-responsive{
                  display: none;
              }
          }
      </style>
    
    </head>
    <body>
    
        
      <nav class="navbar navbar-default-bar no-margin navbar-bar-head-fixed" id="nav-header">
    
          <div class="navbar-header fixed-brand">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                         <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
            
              <span class="label label-success mobile" style="margin-top:20px;float:right">Admin</span>
            
             <a class="navbar-brand" href="#">Oneness</a>
          </div>
    
                <div class="none-mobile-view-dp">
                         <img src="/Upload/Profile/1546207758609.jpg" style="height: 40px" class="profilePic">
              
                 <span class="label label-success" style="float:right;margin-top:22px;margin-left:5px">Admin</span>
              
              <span class="label label-warning" style="float:right;margin-top:22px;">Admin</span>
                 </div>
    
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                <li class="active">
                  
                     <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-pc">
                                       <span class="glyphicon glyphicon-th-large" aria-hidden="true">
                                       </span>
                     </button>
                   
                </li>
             </ul>
          </div>
    </nav>
    
























    <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" style="margin-top:60px">
       <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    
         <li class="mobile-view-dp">
           <div style="margin-right: 10px">
                 <center>
                <img src="/Upload/Profile/1546207758609.jpg" style="height: 60px;width: 60px;border-radius:50%">
            </center>
              </div>
         </li>
    
         <li class="onlyForPcNav">
           <a  onclick="openSideNav()">
             <span class="fa-stack fa-lg pull-left">
               <i class="fa fa-bars fa-stack-1x "></i>
             </span>Oneness
           </a>
         </li>
    
         
           <li id="home-nav">
              <a href="/"><span class="fa-stack fa-lg pull-left">
                <i class="fa fa-home fa-stack-1x "></i></span>Home
              </a>
           </li>
         
    
         
    
          
              <li id="add-user-nav">
                <a href="/admin/adduser"><span class="fa-stack fa-lg pull-left">
                  <i class="fa fa-plus-square fa-stack-1x "></i></span>
                  Add User
                </a>
              </li>
          
    
          
    
          
            <li id="user-list-nav">
               <a href="/admin/userlist"> <span class="fa-stack fa-lg pull-left">
                 <i class="fa fa-list-ul fa-stack-1x "></i></span>Users List</a>
            </li>
          
    
          
            <li id="community-list-nav">
               <a href="/community/communityList"><span class="fa-stack fa-lg pull-left">
                 <i class="fa fa-list-alt fa-stack-1x "></i></span>Community List</a>
            </li>
          
    
          
            <li id="switch-asuser-nav">
              <a onclick="switchState('Switch As User')"><span class="fa-stack fa-lg pull-left">
                <i class="fa fa-toggle-off fa-stack-1x "></i></span>
                Switch As User
              </a>
            </li>
          
    
          
            <li id="admin-tag-panel">
              <a href="/tag"><span class="fa-stack fa-lg pull-left">
                <i class="fa fa-tags fa-stack-1x "></i></span>Tag Panel</a>
            </li>
          
    
          <li id="change-password-nav">
            <a href="/changePassword"><span class="fa-stack fa-lg pull-left">
              <i class="fa fa-lock fa-stack-1x "></i></span>
              Change Password
            </a>
          </li>
    
          <li>
             <a onclick="logout()"><span class="fa-stack fa-lg pull-left">
               <i class="fa fa-sign-out-alt fa-stack-1x "></i></span>Logout
             </a>
          </li>
    
       </ul>
    </div>
   <script type="text/javascript">
       $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
       });
    
       $("#menu-toggle-pc").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled-pc");
          $('#menu ul').hide();
       });
    
    //----------------------On Hoover or onclick menuBar-------------------------------
      function openSideNav(){
          $("#wrapper").toggleClass("toggled-pc");
          $('#menu ul').hide();
      }
       // $("#sidebar-wrapper").hover(function(){
       //   $("#wrapper").toggleClass("toggled-pc");
       //   $('#menu ul').hide();
       // });
    //----------------------On Hoover or onclick menuBar-------------------------------
    
       function initMenu() {
          // $("#wrapper").toggleClass("toggled-pc");
          // $('#menu ul').hide();
    
          $('#menu ul').hide();
          $('#menu ul').children('.current').parent().show();
          $('#menu li a').click(
             function() {
                var checkElement = $(this).next();
                if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                   return false;
                }
                if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                   $('#menu ul:visible').slideUp('normal');
                   checkElement.slideDown('normal');
                   return false;
                }
             }
          );
       }
       $(document).ready(function() {
          initMenu();
       });
    </script>
    







    


    




    <div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
             <div class="container-fluid page-content-div" style="padding:0">
                <div class="row">
                   <div class="col-lg-12 scoll-possible" style="padding:0">
    
    
    
    
    
    <style>
    body{
      color: #575757 !important;
    }
    .content-div{
      margin-top:2%;
      width: 100%;
    }
    .null-link{
      color: black
    }
    .null-link:hover{
      color:black;
      text-decoration: none;
    }
    .panel-main-div:hover{
      box-shadow:0 3px 10px 0 rgba(115,143,147,.2);
    }
    @media(max-width: 768px){
      .content-div{
        margin-top:5%;
        width: 100% !important;
      }
    }
    </style>
    
    <div class='content-div'>
            <div class="container">
                <div class="card allSidesSoft" style="background:rgb(249, 249, 249)">
                  <div class="card-body">
    
                  
                    <div class="d-flex pc">
                        <div class="image-container">
                            <img src="/Upload/Profile/1546207758609.jpg" id="user-profile-image" style="width: 150px; height: 150px" class="img-thumbnail allSidesSoft" />
                        </div>
                    </div>
                  
    
                  
    
                    <br />
                    <br />
                
                    <div class="col-sm-6">
                      <div class="panel panel-default allSidesSoft panel-main-div">
                        <div class="panel-heading">Email</div>
                        <div class="panel-body">a@a.com</div>
                      </div>
                    </div>
                
    
                
                    <div class="col-sm-6">
                      <div class="panel panel-default allSidesSoft panel-main-div">
                        <div class="panel-heading">Gender</div>
                        <div class="panel-body" style="text-transform: capitalize;">male</div>
                      </div>
                    </div>
                
    
                
                    <div class="col-sm-6">
                      <div class="panel panel-default allSidesSoft panel-main-div">
                        <div class="panel-heading">Name</div>
                        <div class="panel-body">Admin</div>
                      </div>
                    </div>
                
    
                
                    <div class="col-sm-6">
                      <div class="panel panel-default allSidesSoft panel-main-div">
                        <div class="panel-heading">City</div>
                        <div class="panel-body">newyork</div>
                      </div>
                    </div>
                
    
                
                    <div class="col-sm-6">
                      <div class="panel panel-default allSidesSoft panel-main-div">
                        <div class="panel-heading">D.O.B</div>
                        <div class="panel-body null-link" id="dobtext">2020-02-09</div>
                      </div>
                    </div>
                
    
                
                    <div class="col-sm-6">
                      <div class="panel panel-default allSidesSoft panel-main-div">
                        <div class="panel-heading">Phone</div>
                        <div class="panel-body">9999999999</div>
                      </div>
                    </div>
                
    
                
                  
                
    
                
    
                
    
            </div>
          </div>
        </div>
    </div>
    <br />
    
    </div>
    </div>
    </div>
    </div>
      <br />
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!-- <script src="/javascripts/Common.js"></script> -->
    
    <script>
    var selector = '.nav li';
    $(selector).removeClass('active');
    $('#edit-profile-nav').addClass('active');
    $('#home-nav').addClass('active');
    </script>
    
    <script>
    var link = window.location.href
    var id  = link.substring(link.lastIndexOf('/') + 1);
    
    var userFullName = $('#user-full-name').text();
    userFullName = userFullName.replace("Name : ", "");
    $("#send-to").html(userFullName);
    $('#messagePopBtn').click(function(){
    
      $('#popUp').modal('toggle');
      $('#popUp').modal('show');
    
    })
    
    function sendTheMessage(){
      if($('#message').val().trim().length!=0)
      {
          var data = {};
          data.user2 = id;
          data.messages = $('#message').val();
          $.ajax({
              type: 'POST',
              data: JSON.stringify(data),
              contentType: 'application/json',
              url: '/message/sendbyid',
              success: function (response) {
                $(location).attr('href','/message');
              },
              error: function (response) {
                  notie.alert({type: 3, text: 'Something went wrong!', time: 2})
              }
          });
        }
    }
    
    $('#MessageSendButton').click(sendTheMessage);
    
    var dateElement = document.getElementById("dobtext");
    var date = dateElement.innerHTML;
    dateElement.innerHTML=OnlyDateEditProfile(date);
    
    $(document).ready(function(){
            var date_input=$('input[name="dob"]');
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>
    
        </body>
    </html>
    