
<!DOCTYPE html>
<html>

<% include partials/header %>

<body>

<div id="wrapper">
<%include partials/sidebar%>

<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">



<div class="container">
  <center>
<% if(add==true)
{ %>
<div class="alert alert-success alert-dismissible fade in" style="width: 33%;text-align: center;margin-top:20px">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>User Saved and Mail Sent Successfully</strong>
</div>

<% }
%>

</center>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:40px">
      <br />

      <div class="alert alert-dismissible" style="border:1px solid #E2E5E1" id="alert-div-avilability">
      
      <center>
            <label id="avilability" style="color:#8B8B8B;"></label>
                     
            </center>
      </div>

          <h1>Add User</h1>
          <form action="/admin/adduser" method="post" class="form-horizontal" id="form">
            <div class="col-sm-12">
              <div class="form-group">
                  <input type="email" required="" name="username" class="form-control" id="username" placeholder="Email" autocomplete="off"><br/>
              </div>
              <div class="form-group">
                  <input type="text" required="" name="phone" class="form-control" maxlength="10" id="phone" placeholder="Phone" autocomplete="off"><br/>
              </div>
              <div class="form-group">
                  <input type="text" required="" name="city" class="form-control" placeholder="City"><br/>
              </div>
              <div class="form-group">
                  <input type="password" required="" name="password" class="form-control" placeholder="Password" autocomplete="off"><br/>
              </div>
              <div class="form-group">
                <label>Role:</label><br/>
                <select data-style="btn-info" name="roleoptions" class="form-control">
                    <optgroup label="Select User Role">
                      <option value="User">User</option>
                        <option value="Commuity Manager">Commuity Manager</option>
                      <option value="Admin">Admin</option>
                    </optgroup>
                </select>
              </div>
              <div class="form-group">
                  <input type="submit" value="Add User" class="btn btn-success">
                  <a value="Add User" class="btn btn-danger" href="/admin/profile">Cancel</a>
              </div>
              </div>
          </form>
      </div>
</div>
</div>
</div>
</div>
</div>
</div> <!--Header-->
<script src="/javascripts/Common.js"></script>

<script>
var selector = '.nav li';
$(selector).removeClass('active');
$('#add-user-nav').addClass('active');
</script>

 <script>


    var username=document.getElementById('username');

/*
    username.onchange=function(){
        if(this.value.trim()){
        var username=this.value.trim();    
        $.ajax({
        type:'POST',
        url:'/admin/checkuser',
        contentType : "application/json",
        context:this,
        data:JSON.stringify({username:this.value.trim()}),
        success:function(data){
            console.log(data);
            document.getElementById('alert-div-avilability').style.display="block";
            if(data.valid)
            {
              console.log(this);  
            document.getElementById('avilability').textContent=this.value.trim()+" is Available";
            }
            else
            {
            document.getElementById('avilability').textContent=this.value.trim()+" is not Available";
            }

            },
        error:function(jqxhr,err){
            console.log(err); 
            }


        });
    }

    }
*/


    username.onchange=function(){
    var username_value=this.value.trim().toLowerCase();
            
    if(username_value)
    {
        $.ajax({
        type:'POST',
        url:'/admin/checkuser',
        contentType : "application/json",
        data:JSON.stringify({username:username_value}),
        success:function(data){
        document.getElementById('alert-div-avilability').style.display="block";

            if(data.valid)
            {
            document.getElementById('avilability').textContent=username_value+" is Available";                
            }
            else
            {
              document.getElementById('avilability').textContent=username_value+" is not Available";
            }
            
        },
        error:function(jqxhr,err){
            console.log(err); 
            }

        });


    }
    
    }


    function validatePhone(phone)
    {
      if(phone.match(/^\d{10}$/)==null)
      {
        return false;
      }
      else
      {return true;
      }

    }
    var form=document.getElementById('form');
    

    form.onsubmit=function(e)
    { 
     e.preventDefault();
     var username_value=username.value.trim().toLowerCase();   

    if(username_value)
    {
      $.ajax({
        type:'POST',
        url:'/admin/checkuser',
        contentType : "application/json",
        data:JSON.stringify({username:username_value}),
        success:function(data){
            if(data.valid)
            { 
                if(!validatePhone(document.getElementById('phone').value))
                {
                    $.alert({
                        title: 'Inavlid! Phone Number',
                        content: 'Phone number is not valid',
                    });

                }
                else
                {
                    username.value=username_value;
                    form.submit();
                }

            }
            else
            {
                $.alert({
                    title: 'Inavlid!',
                    content: 'User already exist',
                });
        
            }
            
        },
        error:function(jqxhr,err){
            console.log(err); 
            }

        });

    }

    }

 </script>

  </body>
</html>
